<%- include('../layouts/main') %>

<div class="container">
    <form id="signUpForm">
        <!-- Form fields -->
    </form>
    
    <div id="confirmationMessage" style="display: none;">
        <!-- Confirmation message -->
    </div>
</div>

<script src="/js/signup.js"></script>
